html {
  line-height: 1.5;
  font-family: "Akshar", sans-serif;
}

body {
  margin: 0 100px;
}

header {
  text-align: center;
  margin: 0px;
}

.container {
  column-count: 3;
  column-gap: 20px;
  column-rule: 4px dotted rgb(136, 137, 142);
  margin: 5px;
}

.second-page {
  float: left;
  display: block;
    padding-left: 13px;
    width: 950px;
    margin: 2px 0px 0px 0px;

}

span {
  color: gray;
  font-size: 10px;
  line-height: 1;
}

.line {
  margin-top: 10px;
  border-bottom: 4px dotted rgb(136, 137, 142);
}

.some-text {
  line-height: 1;
  color: rgb(50, 49, 50);
  font-size: 75px;
  margin: 20px 240px 0px;
  color: rgb(50, 49, 50);
}

h2 {
  font-weight: lighter;
  letter-spacing: -1px;
  margin: 20px 0px 20px 0px;
}

.title {
  overflow: hidden;
  text-align: center;
  font-size: 10px;
  margin: 0 200px 10;
}

.title:before,
.title:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  border-bottom: 4px dotted rgb(136, 137, 142);
  position: relative;
}

.title:before {
  margin-left: -100%;
  left: -14px;
}

.title:after {
  margin-right: -100%;
  right: -14px;
}

.image {
  width: 100%;
  position: relative;
}

#at {
  position: absolute;
  text-align: center;
  font-size: 30px;
  color: rgb(222, 17, 96);
  padding-left: 10px;
}
.some-image {
  height: 40px;
  width: 40px;
  float: left;
  margin: 0px 7px 7px 0;
}

h1 {
  font-size: 60px;
  font-family: "Akshar", sans-serif;
  text-align: center;
}

h3 {
  letter-spacing: -3px;
  padding-top: -3px;
  font-size: 29px;
  font-family: "Akshar", sans-serif;
  text-align: left;
}

li::before {
  color: #e40f0f;
  content: "■";
  line-height: 3;
}

ul {
  padding: 0px;
  list-style: none;
  line-height: 2;
}

.imgblock {
  position: relative;
  display: inline-block;
  padding: 20px;
}

.imgblock img {
  height: 680px;
    width: 288px;
 
}

.imgblock div {
  float: left;
  margin: 7px 1px 7px 0;
  background: black;
  color: #fff;
  border-radius: 2px;
  position: absolute;
  right: 0;
  bottom: 15px;
  font-size: 18px;
  padding: 10px 5px;
}

.quote {
  line-height: 1;
  letter-spacing: -2px;
  color: gray;
  font-size: 33px;
  padding-top: 0px;
  margin: -45px;
}

blockquote::before {
  content: "\201c";
  color: #fff;
  background-color: rgb(13, 13, 13);
  font-weight: 900%;
}

.third-container {
  display: flex;
  flex-direction: row;
  margin: 0px 0px;
}

.caption {
  background-image: url(../images/wheretogo.png);
  font-size: 25px;
}

.block {
  padding-right: 40%;
}

.blackdot {
  padding: 41px;
  margin-bottom: -124px;
  width: 6%;
  margin-left: -19px;
}

.container-1 {
  padding-right: 200px;
  display: flex;
}

.container-1 div {
  padding: 10px;
  border: 0px solid silver;
}

h4 {
  font-size: 20px;
}

#textik {
  padding: 20px;
}

.container-3 {
  float: left;
  padding-left: 5px;
}

#section2 {
  padding: 100px 100px 10px 10px;
  display: flex;
}

#line10 {
  border-left: 4px dotted rgb(136, 137, 142);
  height: 270px;
}

#line11 {
  border-left: 4px dotted rgb(136, 137, 142);
  height: 270px;
  margin-right: -20px;
}

#line12 {
  border-left: 4px dotted rgb(136, 137, 142);
  height: 1390px;
  float: left;
  margin-left: 6px;
}

#lightstring {
  width: 10px;
  height: 743px;
}

.helper-text {
  display: flex;
  float: inline-end;
}

li > a {
  font-size: 22px;
  text-decoration:none
}
