html {
  line-height: 1.5;
  font-family: 'Akshar', sans-serif;
}

body {
  margin: 0 100px;
}

header {
  text-align: center;
}

.container {
  column-count: 3;
  column-gap: 20px;
  column-rule: 4px dotted rgb(136, 137, 142);
  margin: 5px 200px;
}

.second-container {
  margin: 20px 200px 0;
display: flex;
flex-direction: row;
}

span {
  color: gray;
  font-size: 10px;
  line-height: 1;
}

.line {
  margin-top: 10px;
  border-bottom: 4px dotted rgb(136, 137, 142);
}

.some-text {
  line-height: 1;
  color: rgb(50, 49, 50);
  font-size: 75px;
  margin: 140px 240px 0px ;
  color: rgb(50, 49, 50);
}

h2 {
  font-weight: lighter;
  letter-spacing: -1px;
  margin: 0 200px;
}

.title  {
  overflow: hidden;
  text-align: center;
  font-size: 10px;
  margin: 0 200px 10;
}

.title:before,
.title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    border-bottom: 4px dotted rgb(136, 137, 142);
    position: relative;
}

.title:before {
    margin-left: -100%;
    left: -14px;
}

.title:after {
    margin-right: -100%;
    right: -14px;
}

.image {
  width: 100%;
  position: relative;
}

#at {
  position	: absolute;
  text-align : center;
  font-size: 30px;
  color: rgb(222, 17, 96);
  padding-left: 10px;
}
.some-image {
  height: 40px;
  width: 40px;
  float: left;
  margin: 0px 7px 7px 0;
}

h1 {
  font-size: 60px; 
  font-family: 'Akshar', sans-serif;
  text-align: center;
}

h3 {
  letter-spacing: -3px;
  padding-top: -3px;
  font-size: 29px; 
  font-family: 'Akshar', sans-serif;
  text-align: left;
}

li::before {
  color: #E40F0F;
  content: "■"
}

ul {
  padding: 0px;
  list-style: none
}

.imgblock {
  position: relative;
  display: inline-block;
  padding: 15px;
}

.imgblock img {
  height: 360px;
  width: 280px;
}

.imgblock div {
  float: left;
  margin: 7px 1px 7px 0;
  background: #222;
  color: #fff;
  border-radius: 2px;
  position: absolute;
  right: 0;
  bottom: 15px;
  font-size: 13px;
  padding: 10px 5px;
}

.quote {
  line-height: 1;
  letter-spacing: -2px;
  color: gray;
  font-size: 33px;
  padding-top: 0px;
  margin: -45px;
}

blockquote::before {
  content: '\201c';
  color: #fff;
  background-color: rgb(13, 13, 13);
  font-weight: 900%;
}

.third-container {
  display: flex;
  flex-direction: row;
  margin-right: 0px;
    margin-left: 0px
}

.caption {
  background-image: url(../images/wheretogo.png);
 font-size: 25px;
}

.block {
padding-right: 40%;
}

.blackdot {
  padding: 41px;
    margin-bottom: -13%;
    width: 6%;
    margin-bottom: -124px;
    margin-left: -19px;
}

#line1 {
margin-top: 10px;
border-bottom: 4px dotted rgb(136, 137, 142);
margin-right: 135px;
}

.container-1 {
  padding-right: 200px;
   display: flex;
}

.container-1 div {
  padding: 10px;
  border: 0px solid silver;
}

h4 {
  font-size: 20px;
}

#textik {
  padding: 20px;
}

.container-3 {
  padding-right: 970px;
  float: left;

}
#section2 {
  padding: 10px;
  display: flex;
}

.second-container {
  float: left;
  display: block;
  padding-left: 200px;
margin-left: 200px;
width: 1000px;
margin: 2px;
margin-right: -140px;
}
